<head>
    @{
        ViewData["Title"] = "PunctualArt - LandingPage";
        
    }
    @section Styles{
        <link rel="Stylesheet" href="@Href("~/Styles/Landing.css")" />
    }

</head>
<h2>LandingPage</h2>

