<head>
    @{
        ViewData["Title"] = "PunctualArt - LandingPage";

    }
    @section Styles{
        <link rel="Stylesheet" href="@Href("~/Styles/Landing.css")" />
    }
    @section Scripts{
        <script type="text/javascript" src="@Url.Content("Scripts/LandingJS.js")"></script>
    }

</head>
<body class="landing-body">
    <div class="landing-main-div">
        hola
    </div>

</body>
